                                                /* Адаптивность */

/* Ноутбуки */
@media (min-width: 780px) and (max-width: 1050px) {
  .logo {
    padding-left: 10px;
  }
  #cont_1, #cont_2,
  #cont_3, #cont_3_2,
  #cont_3_3, #cont_4 {
    padding-top: 45px;
    min-height: inherit!important;
  }
  #coun_1 {
    background-position: top -55px center;
  }
  #cont_2, #cont_4 {
    background-position: top center;
    background-size: cover;
  }
}

/* Планшет */
@media (min-width: 480px) and (max-width: 779px) {
  .content {
    overflow: hidden;
  }
  .main-block-me {
    top: 46%;
  }
  .social-networks {
    display: none!important;
  }
  .header a {
    font-size: 14.6px !important;
    padding: 5px 2px!important;
    letter-spacing: 0!important;
    margin: auto!important;
  }
  #cont_1, #cont_2,
  #cont_3, #cont_3_2,
  #cont_3_3, #cont_4 {
    padding-top: 45px;
    min-height: inherit!important;
    height: auto!important;
  }
  #coun_1 {
    background-position: top 48px left 55%;
    background-size: 245% 115%;
  }
  #cont_2, #cont_4 {
    background-position: top center;
    background-size: cover;
  }
  #cont_2_2 {
    &:before {
      display: none!important;
    }
    ul {
      display: block;
      max-height: 100vh;
      overflow-y: scroll;
      flex-flow: column!important;
      justify-content: center!important;
    }
    li {
      width: auto!important;
      margin: auto;
      padding: 15px 0;
    }
    img {
      margin: 15px auto;
    }
  }
  .gallery {
    a {
      position: relative;
      display: block;
    }
    img {
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      margin-left: calc(-13%);
    }
    li {
      height: 235px;
    }
  }
  .img {
    padding: 0!important;
    width: 95px;
    height: 95px;
  }
  .location a {
    width: 30px;
    height: 30px;
  }
  .carousel {
    h3 {
      font-size: 1.3em;
      height: 50px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      height: 90px;
    }
    a {
      font-size: .8em;
      padding: 5px 2px;
      width: auto;
      margin: 10px auto;
    }
    iframe {
      min-height: 160px;
    }
    img {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
}

/* Телефон */
@media (min-width: 260px) and (max-width: 479px) {
  .content {
    overflow: hidden;
  }
  .main-block-me {
    top: 46%;
  }
  .social-networks {
    display: none!important;
  }
  #cont_1, #cont_2,
  #cont_3, #cont_3_2,
  #cont_3_3, #cont_4 {
    padding-top: 45px;
    min-height: inherit!important;
    height: auto!important;
  }
  #coun_1 {
    background-size: 245% 115%!important;
  }
  #cont_2, #cont_4 {
    background-position: top center;
    background-size: cover;
  }
  .location a {
    width: 30px;
    height: 30px;
  }
  .logo {
    display: none!important;
  }
  .header {
    a {
      font-size: 14.6px!important;
      padding: 5px 2px!important;
      letter-spacing: 0!important;
      margin: auto!important;
    }
    ul {
      justify-content: center;
    }
  }
  .right-block {
    p {
      font-size: 17px;
      padding: 0 15px;
    }
    h1 {
      padding: 5px 15px;
      font-size: 1.6em;
      margin: 0;
    }
  }
  #cont_2_2 {
    &:before {
      display: none!important;
    }
    ul {
      display: block;
      max-height: 100vh;
      overflow-y: scroll;
      flex-flow: column!important;
      justify-content: center!important;
    }
    li {
      width: auto!important;
      margin: auto;
      padding: 15px 0;
    }
    img {
      margin: 15px auto;
    }
  }
  .right-block, .left-block {
    top: 15vh;
    p {
      font-size: 17px;
      padding: 0 15px;
    }
  }
  .gallery {
    ul {
      height: auto!important;
    }
    li {
      height: auto;
      margin: auto;
    }
    li:nth-child(2n) {
      margin-top: 40px;
    }
    img {
      display: block;
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      margin-left: calc(-13%);
    }
    a {
      position: relative!important;
      display: block;
    }
    span {
      display: block;
      padding: 10px 0;
      font-size: 14px;
      text-align: center;
    }
  }
  .img {
    padding: 0!important;
    width: 85px;
    height: 85px;
  }
  .carousel {
    h3 {
      font-size: 1.3em;
      height: 50px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      height: 90px;
    }
    a {
      font-size: .67em;
      padding: 5px 2px;
      width: auto;
      margin: 10px auto;
    }
    iframe {
      min-height: 160px;
    }
    img {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
  .name {
    h2, h3 {
      font-size: 16px!important;
      text-align: left!important;
    }
  }
}